<% bookCoverClass = locals.large ? 'book-cover-large' : '' %>
<% bookGridClass = locals.large ? 'book-grid-large' : '' %>


<div class="book-grid <%= bookGridClass %>">
    <% for(let i = 0; i < books.length; i ++) { %>
        <a href="/books/<%= books[i]._id %>">
            <img class="book-cover <%= bookCoverClass %>" 
            src="<%= books[i].coverImagePath %>" alt="Book Cover">
        </a>
    <% } %>
</div>