<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book application</title>
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/header.ejs') %>
    <div class="inner-container">
        <h2 class="page-header">Recently Added</h2>
    <div>
        <%- include('../partials/bookGrid.ejs', { large: true }) %>
    </div>
    </div>
    </div>
</body>
</html>